<div class="container">
  <div id="content" class="space-top-none">
    <div class="main-content">
        <div class="row">
        <div class="col-sm-12">
          <div class="beta-products-list">
            <h4><%= t "search.list_product" %></h4>
            <div class="beta-products-details">
              <p class="pull-left"><%= @products.size %>
                <%= t "search.find_product.style_found" %></p>
              <div class="clearfix"></div>
            </div>
            <div class="row">
            <%= render partial: "search/view_product",
              collection: @products, as: "product"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
