<tr class="odd gradeX center">
  <td><%= order_detail.product_name %></td>
  <td>
    <%= currency order_detail.product_price %>
  </td>
  <td><%= order_detail.quantity %></td>
  <td>
    <%= currency order_detail.total_price %>
  </td>
</tr>
