@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'toastr';

.logo {
  width: 100px;
}

.product_not_found {
  font-size: 20px;
  margin-left: 80px;
  margin-top: 20px;
}

.beta-products-list .col-sm-3 {
  margin-bottom: 20px;
}

.beta-btn .process-button {
  float: right;
  margin-top: 20px;
}

.media .media-body {
  display: inline-block;
  width: auto;
}

.media .img_product {
  float: right;
  margin-right: 20px;
  width: 100px;
}

.col-sm-8 .custom-name-product {
  font-size: 25px;
}

.form-block #gender {
  width: 10%;
}

.session_password {
  border: 1px solid #e1e1e1;
  height: 37px;
  padding: 0 12px 0;
}

#session_remember_me.remember_me {
  display: inline-block;
  margin: 0;
  position: static;
  width: auto;
}

.beta-form-checkout {
  .btn_register {
    width: 100%;
  }
}

.menu-beta li {
  >span {
    padding: 0 20px;
    line-height: 47px;
    height: 47px;
    display: block;
  }
}

.cart-body {
  width: 300px;
}

.cart-prduct-image {
  display: inline-block;
  width: 40px;
}

.product-quantity {
  input {
    width: 50px;
  }
}

.btn-add-address {
  margin-top: 15px;
}

.address_content_item {
  display: inline-block;
}

.cart-items {
  height: 200px;
  overflow-y: scroll;
}

.address_content {
  margin-top: 15px;
}

.new_order {
  .your-order-body {
    padding: 0 15px;
  }
}

.box_address_shipping_payment {
  border: 1px solid #e8e8e8;
}

.new_order {
  .order_address {
    padding-top: 15px;
  }
}

.tabs {
  li {
    a {
      cursor: pointer;
    }
  }
}

.panel {
  display: none;
}

.tab-description {
  display: block;
}

.star {
  cursor: pointer;
  display: inline-block;
}

.star_on {
  color: yellow;
}

.rate_user {
  border-top: 1px solid #ccc;
  margin-top: 15px;
}
