<% provide :title, t("admin.edit") %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= t ".title" %>
          <small><%= t "admin.edit" %></small>
        </h1>
      </div>
      <div class="col-lg-7 page-content">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
