<div class="media beta-sales-item">
  <div class="media-body">
    <%= link_to product.name, product_path(product) %>
    <p class="beta-sales-price">
      <%= currency product.price %></p>
  </div>
</div>
