<div class="col-sm-3 aside">
  <div class="widget">
    <h3 class="widget-title"><%= t ".best_seller" %></h3>
    <div class="widget-body">
      <div class="beta-sales beta-lists">
        <%= render partial: "products/product_item", collection: @best_selling,
          as: :product %>
      </div>
    </div>
  </div>
</div>
