<div class="container">
  <div id="content" class="space-top-none">
    <div class="main-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="beta-products-list">
            <h4><%= t "products.new_product" %></h4>
            <div class="row">
              <%= render partial: "index", collection: @new_product, as: :product %>
            </div>
            <div class="col-sm-12">
              <%= paginate @new_product %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
