<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .order_email {
        width: 600px;
      }

      .order_email .product_list {
        width: 100%;
      }

      .order_email .product_list thead tr {
        background: #ccc;
        text-align: left;
      }

      .order_email .order_total tr td {
        border-bottom: 1px solid #ccc;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
